@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 30px;
  top: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
nav h1 {
  font-size: 45px;
}
nav .subNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: all 1s;
}
nav .subNav a {
  text-decoration: none;
  color: black;
  font-size: 23px;
  /* background-color: wheat; */
  padding: 5px;
  position: relative;
}
nav .subNav a::before {
  content: "";
  /* height: 3px; */
  /* height: 100%; */
  height: 0%;
  /* width: 0%; */
  width: 100%;
  position: absolute;
  background-color: lime;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  transition: all 1s;
}
nav .subNav a::after {
  content: "";
  /* height: 3px; */
  /* height: 100%; */
  height: 0%;
  /* width: 0%; */
  width: 100%;
  position: absolute;
  background-color: lime;
  right: 0px;
  top: 0px;
  z-index: -1;
  transition: all 1s;
}
/* nav .subNav a:hover::before,
nav .subNav a:hover::after {
  width: 100%;
}

nav .subNav a:hover::before {
  width: 50%;
}

nav .subNav a:hover::after {
  width: 50%;
} */

nav .subNav a:hover::before {
  width: 100%;
  height: 50%;
}

nav .subNav a:hover::after {
  width: 100%;
  height: 50%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.box h1 {
  font-size: 100px;
  color: white;
  text-shadow: 3px 3px black;
}
.box1 {
  background-color: dodgerblue;
}
.box2 {
  background-color: seagreen;
}
.box3 {
  background-color: sienna;
}

nav i {
  font-size: 25px;
}

input {
  /* opacity: 0;  */
  display: none;
}

nav label {
  display: none;
}

input:checked ~ .subNav {
  background-color: rgb(70, 220, 105);
  left: 0%;
}

.box4 {
  background-color: chartreuse;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  nav .subNav {
    position: fixed;
    background-color: gray;
    left: 110%;
    top: 88px;
    width: 100%;
    height: 80vh;
    flex-direction: column;
    justify-content: start;
    padding-top: 40px;
    margin-top: 20px;
  }

  nav label {
    display: block;
  }
}