*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  /* font-weight: weight; */
  font-style: normal;
}
.container{
    min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
section{
    scroll-margin: 50px;
}
.box{
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav{
    width:95%;
    padding:10px;
    border-radius: 10px;
     background-image: linear-gradient(white,skyblue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 30px;
  top: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: 3;

}
nav h1{
    width:60px;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-nav a{
    text-decoration: none;
    font-size: 18px;
    position: relative;
    color: cornflowerblue;

}
.sub-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    transition: all 1s;

}
input {
  display: none;
}
nav label {
  display: none;
}
input:checked ~ .sub-nav {
   
  right: 0%;
}


.sub-nav button{
    /* width:100px; */
    padding:10px;
    background-color: cornflowerblue;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 18px;
}
.sub-nav button i{
    color: white;
    font-size: 18px;
    display: none;
}
@media only screen and (min-width: 700px) and (max-width: 800px) {
    .sub-nav button i{
        display: block;
    }
    .sub-nav button p{
        display: none;
    }

    
}
@media only screen and (min-width: 624px) and (max-width: 700px) {
    .sub-nav button i{
        display: block;
    }
    .sub-nav button p{
        display: none;
    }

    
}
@media only screen and (min-width: 500px) and (max-width: 624px) {
    nav .sub-nav {
    position: fixed;
    right: 110%;
    top: 88px;
    width: 100%;
    height: 40vh;
    flex-direction: column;
    justify-content: start;
    background-image: linear-gradient(white,lightgrey);
    border-radius: 10px;
  }

  nav label {
    display:block;

}
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
    nav .sub-nav {
    position: fixed;
    right: 110%;
    top: 88px;
    width: 100%;
    height: 40vh;
    flex-direction: column;
    justify-content: start;
    background-image: linear-gradient(white,lightgrey);
     border-radius: 10px;
  }

  nav label {
    display:block;

}
}
@media only screen and (min-width: 300px) and (max-width: 400px) {
    nav .sub-nav {
    position: fixed;
    right: 110%;
    top: 88px;
    width: 100%;
    height: 40vh;
    flex-direction: column;
    justify-content: start;
    background-image: linear-gradient(white,lightgrey);
     border-radius: 10px;
  }

  nav label {
    display:block;

}
}
.box1 {
    width:100%;
    min-height:100vh;
    background-image: url("./hospital\ image3.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-color: rgba(18, 105, 235, 0.9); 
  background-blend-mode: multiply;

}
.overall-home-box{
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overall-home-box img{
    width:30%;
    height: 50vh;
    object-fit: cover;
}
.home-content{
    color:white;
    display: inline-block;
    font-size: 30px;
}

.icons{
    min-width:90%;
    min-height: 85px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-top: 20px;
}
.icons div,ul{
    width:40%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
}
.icons ul > li{
    font-size: 15px;
}
.icons div > i{
    width:40px;
    height:40px;
    font-size: 20px;
    color: white;
    background-color: green;
    border-radius: 50%;
    padding-top: 6px;

}
.btn1{   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.btn1 button{
    min-width:150px;
    padding: 10px;
    border-radius: 20px;
    background-color: green;
    border: none;
    color:white;
    font-size: 18px;
}
@media only screen and (min-width:1000px) and (max-width:1200px){ 
    .icons div, ul{
        width:43%
    }
}
@media only screen and (min-width:900px) and (max-width:1000px){
   .icons div, ul{
        width:50%
    }
}
@media only screen and (min-width:800px) and (max-width:900px){
    .icons div, ul{
        width:56%
    }
}
@media only screen and (min-width:700px) and (max-width:800px){

    .icons div, ul{
        width:61%
    }
}
@media only screen and (min-width:600px) and (max-width:700px){
    .icons div, ul{
        width:77%
    }
}
@media only screen and (min-width:500px) and (max-width:600px){
    .icons div, ul{
        width:100%
    }
    .home-content{
        font-size: 24px;
    }
}
    @media only screen and (min-width:400px) and (max-width:500px){
    .icons div, ul{
        width:100%;
    }
    .icons{
        height: 190px;
    }
    .icons ul > li{
        font-size: 14px;
          width: 60px;
        text-align: center;
    }
    .home-content{
        font-size: 22px;
    }
}
@media only screen and (min-width:300px) and (max-width:400px){
    .icons{
        height: 190px;
    }
    .icons div, ul{
        width:100%;
    }
    .icons ul > li{
        font-size: 13px;
        font-size: 15px;
        width: 60px;
        text-align: center;
    }
    .home-content{
        font-size: 18px;
    }
    .btn1 button{
        font-size: 16px;
    }
    
}
/* box-2 */
.box2{
    min-height: 140vh;
}
.box2 h1{
    color: blue;
}
.treatment-box{
    width:69%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    flex-wrap: wrap;
    padding:20px;
}
.treatment-box div{
    width:200px;
    height: 300px;
    color: white;
   background-color: blue;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.treatment-box > div:hover{
   background: linear-gradient(to bottom, blue ,lightgrey ); 
  transform: translateY(-5px); 
  box-shadow: 0px 8px 15px rgba(0,0,0,0.2); 
  color: blue;
}
.treatment-box div > i{
    font-size: 100px;
    color: white;
}
.box2 .btn2{
    width:200px;
    padding:8px;
    background-color: blue;
    color: white;
    border:none;
    font-size: 20px;
    border-radius: 0px 40px 0px 40px;
}
@media only screen and (min-width: 800px) and (max-width: 1024px) {
    .box2{
        min-height: 184vh;
    }
}
@media only screen and (min-width: 511px) and (max-width: 800px) {
    .box2{
        min-height: 240vh;
    }
}
@media only screen and (min-width: 400px) and (max-width:511px) {
    .treatment-box{
        width:100%
    }
    .treatment-box div{
        width: 165px;
        height: 219px;
    }
    .treatment-box div > i {
    font-size: 70px;
    color: white;
}
.box2 {
    min-height: 236vh;
}
}
@media only screen and (min-width: 300px) and (max-width:400px) {
    .treatment-box{
        width:100%;
        gap:15px;
    }
    .treatment-box div{
       width: 127px;
        height: 219px;
    }
    .box2 {
    min-height: 185vh;
}
.treatment-box div > i {
    font-size: 70px;
    color: white;
}
}
.box5{
    min-height: 100vh;
    gap:20px;
}
.box5 h1{
    color: blue;
}

.doctors-box{
     width:63%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-wrap: wrap;
    padding:20px;

}   
.overall-clip-path-div{
    position: relative;
} 
.arrow-box{
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid blue;
    position: absolute;
    bottom: 7px;
    right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: navy;
    font-size: 18px;
}
.clip-path-div{
  width: 200px;
    height: 280px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: path("M 20,0 L 180,0 A 20,20,0,0,1 200,20 L 200,200 A 20,20,0,0,1 180,220 L 160,220 A 20,20,0,0,0 140,240 L 140,260 A 20,20,0,0,1 120,280 L 20,280 A 20,20,0,0,1 0,260 L 0,20 A 20,20,0,0,1 20,0 Z");
}
.clip-path-div div{
    padding:10px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap:10px;
    background-color: white;
   width: 96.5%;
    height: 97.5%;
    clip-path:path("M 20,0 L 178,0 A 20,20,0,0,1 193,20 L 193,200 A 20,20,0,0,1 180,213 L 148,214 A 20,20,0,0,0 134,232 L 134,252 A 20,20,0,0,1 120,272 L 15,273 A 20,20,0,0,1 0,260 L 0,20 A 20,20,0,0,1 20,0 Z");
}
.clip-path-div div > img{
    width:100%;
    height: 60%;
    border-radius: 15px;
    object-fit: cover;
}
.clip-path-div div > p{
    display: flex;
    gap:10px;
    padding: 4px;
    font-size: 16px;
    color: gray;
    border:2px solid gray;
    border-radius: 8px;
}
.clip-path-div div h2{
    padding: 10px;
    color: white;
    background-color: navy;
    border-radius: 15px;
    width:65%;
    text-align: center;
}
.clip-path-div div span{
    display: none;
     padding: 10px;
    color: white;
    background-color: navy;
    border-radius: 15px;
    width:65%;
    text-align: center;
    font-size: 22px;
}
.clip-path-div div:hover {
    background-image: linear-gradient(white,lightgray);
}
.clip-path-div div:hover h2{
   display: none;

}
.clip-path-div div:hover span{
    display: block;
}
.clip-path-div div:hover p{
    color: navy;
    border: 1px solid navy;
}
.overall-clip-path-div:hover .arrow-box{
     background-image: linear-gradient(white,lightgray);
}




.box8{
    min-height: 50vh;
    background-color:cornflowerblue;
    color: white;
}
.overall-footer{
    width:100%;
    min-height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.footer-1{
    min-width:300px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap:35px;
    flex-direction: column;
}
.footer-1 h1{
    width:70px;
    height: 70px;
    font-size: 15px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-2{
    min-width:500px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap:20px;
    font-size: 18px;

}
.quick-footer{
    min-width:45%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap:15px;
    flex-direction: column;
}
.quick-footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
@media only screen and (min-width:700px) and (max-width:800px) {
    .overall-footer{
        justify-content: start;
        padding:20px;
    }
    .footer-2{
        min-width:380px;
    }
}
@media only screen and (min-width:600px) and (max-width:700px) {
    .overall-footer{
        justify-content: start;
        padding:20px;
        gap:20px;
    }
    .footer-2{
        min-width:380px;
    }
}
@media only screen and (min-width:500px) and (max-width:600px) {
    .overall-footer{
        justify-content: start;
        padding:20px;
        gap:20px;
    }
    .footer-2{
        min-width:380px;
    }
}
@media only screen and (min-width:400px) and (max-width:500px) {
    .overall-footer{
        justify-content: start;
        padding:20px;
        gap:20px;
    }
    .footer-2{
        min-width:380px;
    }
}
@media only screen and (min-width:300px) and (max-width:400px) {
    .overall-footer{
        justify-content: start;
        padding:20px;
        gap:20px;
    }
    .footer-2{
        min-width:240px;
        font-size: 13px;
        gap:0px;
    }
    .footer-1{
        min-width: 290px;
    }
}
.footer-1 p:hover{
    color: navy;
}
.footer-2 p:hover{
    color: navy;
}
